<footer class="page-footer teal lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contacto</h5>
                <p class="grey-text text-lighten-4">Puedes contactarnos en: contacto@ejemplo.com</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Enlaces</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Acerca de</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Privacidad</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Términos de Servicio</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="teal darken-1">
        <div class="container">
            © 2024 Derechos de autor, Todos los derechos reservados.
            <a class="grey-text text-lighten-4 right" href="#!">Síguenos en redes sociales</a>
        </div>
    </div>
</footer>